.profile {
  border-radius: 10px;
  border: 1px solid var(--color-bg-surface-02);
  overflow: hidden;

  header {
    padding: 16px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    background: var(--color-theme-04);

    border-bottom: 1px solid var(--color-bg-surface-02);

    img {
      border-radius: 50%;
      border: 1px solid var(--color-bg-surface-02);
    }

    > div {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      font-family: MONOSPACE;

      > span:first-child {
        color: var(--color-bg-surface-02);
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
      }
      > span:last-child {
        color: var(--color-theme-02);
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
      }
    }
  }

  p {
    padding: 16px 24px;
    margin: 0;
    color: var(--color-neutral-02);
    font-size: 14px;
    font-weight: 400;
    line-height: 20.3px;
  }
}
