@import url("https://use.typekit.net/njr2div.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@font-face {
  font-family: "FiraCode-Medium";
  src: url("/fonts/FiraCode-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: calc(288px + 912px + 24px);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: "Pretendard Variable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontFamily-serif: "Pretendard Variable", "Georgia", Cambria,
    "Times New Roman", Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;

  /* custom variables */
  --fixed-z-index: 100;
  --navigation-height: 60px;
  --transition-duration: 0.1s;
  --transition-timing-function: linear;
}

body {
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

body.light {
  --color-theme-01: #ff6737;
  --color-theme-02: #fc8755;
  --color-theme-03: #ffddca;
  --color-theme-04: #f3efec;
  --color-bg-surface: #2a2b31;
  --color-bg-surface-02: #2a2b31;
  --color-neutral-01: #60616a;
  --color-neutral-02: #9597a1;
  --color-neutral-03: #ebebeb;
  --color-neutral-04: #fbfbfb;

  --color-background: #ffffff;

  /* prism */
  --code-color: #898989;
  --code-background: #ffffff;
  --code-dtype: #727272;
  --code-punctuation: #454545;
  --code-tag: #3d5e7d;
  --code-class-name: #e0e041;
  --code-constant: #528452;
  --code-deleted: #f92672;
  --code-number: #ff73fd;
  --code-inserted: #429200;
  --code-variable: #605fb1;
  --code-operator: #717171;
  --code-string: #598b5c;
  --code-function: #c0ad1f;
  --code-regex: #cfa135;
  --code-important: #c56900;
}

body.dark {
  --color-theme-01: #ff8b66;
  --color-theme-02: #957e76;
  --color-theme-03: #c29f94;
  --color-theme-04: #3d3937;
  --color-bg-surface: #2a2b31;
  --color-bg-surface-02: #ffffff;
  --color-neutral-01: #ebdfd9;
  --color-neutral-02: #948884;
  --color-neutral-03: #ebebeb;
  --color-neutral-04: #fbfbfb;

  --color-background: #2a2b31;

  /* prism */
  --code-background: #1d1f21;
  --code-color: #c5c8c6;
  --code-dtype: #7c7c7c;
  --code-punctuation: #c5c8c6;
  --code-tag: #96cbfe;
  --code-class-name: #ffffb6;
  --code-constant: #99cc99;
  --code-deleted: #f92672;
  --code-number: #ff73fd;
  --code-inserted: #a8ff60;
  --code-variable: #c6c5fe;
  --code-operator: #ededed;
  --code-string: #87c38a;
  --code-function: #dad085;
  --code-regex: #e9c062;
  --code-important: #fd971f;
}
/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--color-background);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-01);
  border-radius: 0.5rem;
}
*::-webkit-scrollbar-track {
  background-color: var(--color-background);
}

html {
  overflow-x: hidden;
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-bg-surface-02);
  background-color: var(--color-background);

  /*grid
  background: url("/images/grid-vert.svg") repeat;
  padding: 50px;*/
}

header li {
  list-style: none;
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-neutral-01);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-bg-surface-02);
}

h2 {
  font-size: var(--fontSize-4);
}

h3 {
  font-size: var(--fontSize-3);
}

h4 {
  font-size: var(--fontSize-2);
}

h5 {
  font-size: var(--fontSize-1);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

:not(pre) > code[class*="language-"].language-text {
  text-shadow: none;
  background: var(--color-theme-03);
  color: var(--color-black-01);
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-6) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-6);
  list-style-position: outside;
  list-style-image: none;
}

ol > li > ol {
  list-style-type: lower-alpha;
}

ul li,
ol li {
  /* 추가 */
  margin-top: calc(var(--spacing-6) / 4);
  margin-bottom: calc(var(--spacing-6) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-6) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul,
li > ol {
  margin-left: calc(var(--spacing-6) / 2);
  margin-top: calc(var(--spacing-6) / 4);
}

blockquote {
  color: var(--color-bg-surface-02);
  margin-left: calc(1 * var(--spacing-3));
  margin-right: var(--spacing-6);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-neutral-01);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-6);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-6);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-neutral-01);
}

/* Link */
a {
  color: var(--color-neutral-01);
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  /* background-color: var(--color-background); */
  margin: auto;
  max-width: var(--maxWidth-wrapper);
  padding: 64px 0 var(--spacing-10) 0;

  position: relative;
}

/* .global-header {
  margin-bottom: var(--spacing-6);
} */

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-6);
}

/* Media queries */
@media screen and (max-width: 1300px) {
  .global-wrapper {
    padding: 0;

    main {
      padding: var(--spacing-3);
    }
  }
}

@media screen and (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
