.wrapper {
  margin-bottom: 44px;
  display: none;
  /* position: absolute;
  height: 100%;
  right: 0;
  padding: 0 var(--spacing-4);
  transform: translateX(100%); */

  @media screen and (min-width: 1300px) {
    display: block;
  }
}

.inner {
  /* position: fixed; */
  min-width: 288px;
  max-height: calc(100vh - 200px);
  overflow: auto;

  list-style: none;

  /* box-shadow: 6px 6px 0px -1px var(--color-neutral-01); */
  /* border: 2px solid var(--color-bg-surface-02); */

  > div {
    font-weight: 700;
    padding: var(--spacing-6);
  }

  background-color: var(--color-theme-04);
  border: 1px solid var(--color-bg-surface-02);
  border-radius: 10px;
}

.inner a {
  color: var(--color-neutral-01);
  font-size: var(--fontSize-0);

  position: relative;
  display: inline-block;
  overflow: hidden;

  margin: 0;
  padding-bottom: var(--spacing-1);

  &:hover {
    color: var(--color-theme-01);
    font-weight: 700;
  }
}

.inner p {
  margin-bottom: 0;
}
.inner ul,
.inner li {
  margin: 0;
}

.inner li {
  list-style-type: none;
  margin-left: var(--spacing-3);
}

.inner ul:first-child {
  margin-left: 0;

  > li {
    margin-left: 0;
  }
}
.header {
  border-bottom: 1px solid var(--color-bg-surface-02);
  padding: 16px 24px;
  color: var(--color-bg-surface-02);

  font-family: MONOSPACE;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}
