.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  background: #f3efec;
  border: 1px solid #2a2b31;
  border-radius: 10px;
}

.header {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a2b31;

  p {
    margin: 0;

    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }
}

.wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 14px;

  padding: 16px 24px;
  color: #60616a;
  margin: 0;
}

.wrapper li {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
  margin: 0;

  transition: all 0.15s ease-in-out;
}

.wrapper li:hover,
.wrapper li:active,
.wrapper .active {
  color: #ff6737;
  font-weight: 700;
}

@media (max-width: 42rem) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
