.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  background: var(--color-theme-04);
  border: 1px solid var(--color-bg-surface-02);
  border-radius: 10px;
}

.header {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-bg-surface-02);

  p {
    margin: 0;
    color: var(--color-bg-surface-02);

    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }
}

.wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 14px;

  padding: 16px 24px;
  color: var(--color-neutral-01);
  margin: 0;
}

.wrapper li {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
  margin: 0;

  transition: all var(--transition-duration) var(--transition-timing-function);
}

.wrapper li:hover,
.wrapper li:active,
.wrapper .active {
  color: var(--color-theme-01);
  font-weight: 700;
}

@media (max-width: 42rem) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
