.main-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

.main {
  width: 100%;

  h1 {
    margin: 0;
    padding: 16px;
    font-family: MONOSPACE;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    border: 1px solid #2a2b31;
    border-radius: 10px;
  }
}

.ol {
  > li {
    margin-bottom: 0;
  }

  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 34px;
  column-gap: 24px;

  margin-top: 32px;
  margin-bottom: 122px;

  @media (max-width: 60rem) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
}

.side-menu {
  width: 100%;
  max-width: 288px;

  .profile {
    border-radius: 10px;
    border: 1px solid #2a2b31;
    overflow: hidden;

    header {
      padding: 16px;
      display: flex;
      align-items: center;
      column-gap: 16px;
      background: #f3efec;

      border-bottom: 1px solid #2a2b31;

      img {
        border-radius: 50%;
        border: 1px solid #2a2b31;
      }

      > div {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        font-family: MONOSPACE;

        > span:first-child {
          color: #2a2b31;
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;
        }
        > span:last-child {
          color: #fc8755;
          font-size: 14px;
          font-weight: 700;
          line-height: 14px;
        }
      }
    }

    p {
      padding: 16px 24px;
      margin: 0;
      color: #9597a1;
      font-size: 14px;
      font-weight: 400;
      line-height: 20.3px;
    }
  }
  /* Media queries */
  @media (max-width: 60rem) {
    display: none;
  }
}
