.pagination-cls {
  display: flex;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  > li {
    margin: 0 5px;
    padding: 0 5px;
    list-style: none;
  }
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: var(--spacing-5);
}

.main {
  width: 100%;

  > ol > li {
    margin-bottom: var(--spacing-10);
  }
}

.side-menu {
  width: 25%;

  /* Media queries */
  @media (max-width: 60rem) {
    display: none;
  }
}
