.box {
  /* border: 2px solid var(--color-accent); */
  display: inline-block;
  /* border-radius: 14px; */
  padding: 1px 8px;

  color: var(--color-text);
  box-shadow: inset 0 -10px 0 #bfffa1;

  font-size: var(--fontSize-0);
  font-weight: 600;
  margin: var(--spacing-2);

  /* &:nth-child(2) {
    box-shadow: inset 0 -10px 0 #ff8a00;
  }
  &:nth-child(1) {
    box-shadow: inset 0 -10px 0 #f1dd62;
  }

  &:nth-child(3) {
    box-shadow: inset 0 -10px 0 #289039;
  } */
}
