.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 86px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #2a2b31;
  color: #000000;

  font-family: IBM Plex Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  cursor: pointer;

  &.prev-btn {
    margin-right: 35px;
  }

  &.next-btn {
    margin-left: 35px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.pages {
  display: flex;
  column-gap: 13px;
  margin: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #2a2b31;
  color: #000000;

  font-family: IBM Plex Mono;
  font-size: 14;
  font-weight: 400;
  line-height: 14;

  cursor: pointer;

  &.active {
    background-color: #ff740f;
  }

  &.ellipsis {
    cursor: default;
    color: $ellipsis--color;
  }
}
