.wrapper {
  display: inline-block;
  overflow: hidden;
  color: var(--color-bg-surface-02);

  font-family: ibm-plex-mono;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
}

.motion-div {
  display: inline-block;
  will-change: transform;
}

.container {
  display: flex;
  align-items: center;
}

.spacing {
  margin-left: var(--spacing-1);
}
